<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="layout :: head"></head>
<body>
<nav th:replace="layout :: header"></nav>

<div class="container main-content form">
    <div class="row">
        <form action="#" th:action="@{/product/delete}" th:object="${product}"
              method="POST" novalidate="novalidate">
            <input type="hidden" th:field="*{id}" />
            <h1>Do you want to delete?</h1>
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control"
                       th:field="*{name}"/>
            </div>
            <div class="form-group">
                <label>Type Product</label>
                <input type="text" class="form-control" th:field="*{type_product}"/>
            </div>
            <div class="form-group">
                <label>Price</label>
                <input type="text" class="form-control" th:field="*{price}"/>
            </div>
            <div class="form-group">
                <label>Amount</label>
                <input type="text" class="form-control" th:field="*{amount}"/>
            </div>
            <div class="form-group">
                <label>Description</label>
                <input type="text" class="form-control" th:field="*{description}"/>
            </div>
            <button type="submit" class="btn btn-primary">Delete</button>
        </form>
        <form action="#" th:action="@{/products}" method="get">
            <button type="submit" class="btn btn-primary">Cancel</button>
        </form>
    </div>
</div><!-- /.container -->

<footer th:replace="layout :: footer"></footer>
</body>
</html>