<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<nav th:replace="layout :: header"></nav>

<div class="container main-content form">
    <div class="row">
        <form action="#" th:action="@{/product/save}" th:object="${product}"
              method="POST" novalidate="novalidate">
            <input type="hidden" th:field="*{id}" />
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control"
                       th:field="*{name}"/>
                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
            </div>
            <div class="form-group">
                <label>Type Product</label>
                <select class="form-control" th:field="*{type_product}">
                    <option value="Tivi">Tivi</option>
                    <option value="Phone">Phone</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div class="form-group">
                <label>Price</label>
                <input type="text" class="form-control" th:field="*{price}" />
                <td th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</td>
            </div>
            <div class="form-group">
                <label>Amount</label>
                <input type="text" class="form-control" th:field="*{amount}" />
                <td th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">Amount Error</td>
            </div>
            <div class="form-group">
                <label>Description</label>
                <input type="text" class="form-control" th:field="*{description}" />
                <td th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</td>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
        <form action="#" th:action="@{/products}" method="get">
            <button type="submit" class="btn btn-primary">Cancel</button>
        </form>
    </div>
</div><!-- /.container -->

<footer th:replace="layout :: footer"></footer>
</body>
</html>