<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create new Product</title>
</head>
<body>
<h1>Create new Product</h1>
<p>
    <a href="/product">Product List</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create}" th:object="${product}" method="post">
    <table>
        <tr>
            <td>Product Name</td>
            <td><input type="text" th:field="*{nameProduct}"></td>
        </tr>
        <tr>
            <td>Price</td>
            <td><input type="text" th:field="*{price}"></td>
        </tr>
        <tr>
            <td>Description Product</td>
            <td><input type="text" th:field="*{description}"></td>
        </tr>
        <tr>
            <td>Image</td>
            <td><input type="text" th:field="*{img}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create product"></td>
        </tr>
    </table>
</form>
</body>
</html>