<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Detail information Product</title>
</head>
<body>
<h1>Detail information Product</h1>
<p>
    <a href="/product">Product List</a>
</p>
<table border="1">
    <tr>
        <td>Product Name</td>
        <td th:text ="${product.nameProduct}"></td>
    </tr>
    <tr>
        <td>Price</td>
        <td th:text ="${product.price}"></td>
    </tr>
    <tr>
        <td>Description Product</td>
        <td th:text ="${product.description}"></td>
    </tr>
    <tr>
        <td>Image</td>
        <td th:text ="${product.img}"></td>
    </tr>
</table>
</body>
</html>