.form {
    width: 420px;
    background-color: white;
    margin-top: 20px;
}
#already {
    width: 420px;
    background-color: #536781;
    text-align: center;
    margin: -15px;
    padding: 15px;
    margin-top: 20px;
}
.form-control {
    border: 0;
    /*border-bottom: 1px solid;*/
    margin-top: 20px
}
.content {
    background-color: #EAEAEA;
    padding: 60px 10px;
    height: 100%;
    width: 100%;
    overflow: auto;
    position: fixed;
}
