
img {
	border-radius: 10px;
	padding-top: 20px;
	padding-top: 3px;
	width: 100%
	
}
#tag0 {
    font-size: 80%;
}
#tag1 {
    font-size: 100%;
}
#tag2 {
    font-size: 120%;
}
#tag3 {
    font-size: 140%;
}
#tag4 {
    font-size: 160%;
}
#tag6 {
    font-size: 200%;
}
.name {
    margin-left: 10px;
    margin-top: 10px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 8px;
    padding-right: 7px;
}
footer {
    background: #f9f9f9;
    
    bottom: 0;
    width: 100%;
    
}
form {
    display: block;
    margin-top: 0em;
    padding: 15px;
}
.genre, .genre-g1, .genre-g10, .genre-g11, .genre-g12, .genre-g13, .genre-g15, .genre-g16, .genre-17, .genre-g2, .genre-g3, .genre-g4, .genre-g5, .genre-g6, .genre-g7, .genre-g8, .genre-g9 {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
}

