<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<nav th:fragment="header"
     class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">

            <a class="navbar-brand" th:href="@{/phones}">MyPhone</a>
            <a class="navbar-brand" th:href="@{/}">Home</a>
        </div>
    </div>
</nav>

<div class="container main-content form">
    <div class="row">
        <form action="#" th:action="@{/phone/save}" th:object="${phone}"
              method="POST" novalidate="novalidate">
            <input type="hidden" th:field="*{id}" />
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control"
                       th:field="*{name}" />
                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
            </div>
            <div class="form-group">
                <label>Price</label>
                <input type="text" class="form-control" th:field="*{price}" />
                <td th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</td>
            </div>
            <div class="form-group">
                <label>Description</label>
                <input type="text" class="form-control" th:field="*{description}" />
                <td th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</td>
            </div>
            <div class="form-group">
                <label>Origin</label>
                <input type="text" class="form-control" th:field="*{origin}" />
                <td th:if="${#fields.hasErrors('origin')}" th:errors="*{origin}">Origin Error</td>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div><!-- /.container -->

<footer th:replace="layout :: footer"></footer>
</body>
</html>