<div class="panel panel-success">
	<div class="panel-heading">
		<h3 class="panel-title">Add Movie</h3>
	</div>
	<div class="panel-body">
		<form>
			<div class="form-group">
				<label for="">Name</label>
				<input type="text" class="form-control" #name>
			</div>
			<div class="form-group">
				<label for="">Link</label>
				<input type="text" class="form-control" #link>
			</div>
			<div class="form-group">
				<label for="">Author</label>
				<input type="text" class="form-control" #author>
			</div>
			<button type="button" class="btn btn-primary" (click)="onAddMovie(name.value,link.value,author.value)">Submit</button>
		</form>
	</div>
</div>
