<div class="container-fluid" style="padding: 0; height: 100vh">
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark rounded" style="height: 10%">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Furama Đà Nẵng</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Trang Chủ</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Liên Hệ</a>
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Tuyển dụng
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Link 1</a>
        <a class="dropdown-item" href="#">Link 2</a>
        <a class="dropdown-item" href="#">Link 3</a>
      </div>
    </li>
  </ul>
</nav>


<div class="row px-0 mx-0" style="height: 90%">
	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 px-0">
		<div class="list-group border border-primary rounded h-100">
  <a href="#" class="list-group-item list-group-item-action active" [routerLink]="['/']">Home</a>
  <a href="#" class="list-group-item list-group-item-action" [routerLink]="['/employee-list']">Quản Lý Nhân Viên</a>
  <a href="#" class="list-group-item list-group-item-action">Quản Lý Dịch Vụ</a>
  <a href="#" class="list-group-item list-group-item-action">Quản Lý Khách Hàng</a>
  <a href="#" class="list-group-item list-group-item-action">Quản Lý Hợp Đồng</a>
  <a href="#" class="list-group-item list-group-item-action">Quản Lý HĐ Chi Tiết</a>
</div>
	</div>

	<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 p-5">
		<router-outlet></router-outlet>
	</div>
</div>
</div>