<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new Blog</title>
</head>
<body>
<h1>Create new blog</h1>
<p>
    <a href="/blogs">Blog list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-blog}" th:object="${blog}" method="post">
    <table>
        <tr>
            <td>BlogName:</td>
            <td><input type="text" th:field="*{blogName}"></td>
        </tr>
        <tr>
            <td>Content:</td>
            <td><input type="text" th:field="*{content}"></td>
        </tr>
        <tr>
            <td>Category:</td>
            <td>
                <select th:field="*{category}">
                    <option th:each="c:${categorys}" th:value="${c.id}" th:text="${c.categoryName}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create blog"></td>
        </tr>
    </table>
</form>
</body>
</html>