<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit blog</title>
</head>
<body>
<h1>Edit blog</h1>
<p>
    <a href="/blogs">Back to blog list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/update-blog}" th:object="${blog}" method="post">
    <input type="hidden" name="id" th:field="*{id}"/>
    <table>
        <tr>
            <td>BlogName:</td>
            <td><input type="text" th:field="*{blogName}"></td>
        </tr>
        <tr>
            <td>Content:</td>
            <td><input type="text" th:field="*{content}"></td>
        </tr>
        <tr>
            <td>Category:</td>
            <td>
                <select name="category">
                    <option th:each="c : ${categorys}"
                            th:value="${c.id}"
                            th:text="${c.categoryName}"
                            th:selected="(${c.id} == *{category.id})"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update customer"></td>
        </tr>
    </table>
</form>
</body>
</html>