<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>List Customer</title>
</head>
<body>

<div class="container">
    <h2>Danh sách khách hàng</h2>
    <p>The .table-striped class adds zebra-stripes to a table:</p>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>STT</td>
            <td>Name</td>
            <td>Address</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="row, rowstat : ${customers}">
            <td th:text="${rowstat.count}"></td>
            <td th:text="${row.name}"></td>
            <td th:text="${row.address}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>