<!-- Spring MVC Annotation -->

<context:annotation-config />

<mvc:annotation-driven/>



        <!--Controller -->

<context:component-scan base-package="controller"/>

        <!--View -->

<bean id="viewResolver"

      p:prefix="/WEB-INF/views/" p:suffix=".jsp"

      class="org.springframework.web.servlet.view.InternalResourceViewResolver"/>