<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<h3>Remove Product</h3>
<p>
    <a th:href="@{/}">
        Back to product list
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/product/delete}" th:object="${product}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Name:</label>
            <label th:text="${product.getName()}"></label>
        </div>
        <div>
            <label>Price:</label>
            <label th:text="${product.getPrice()}"></label>
        </div>
        <div>
            <label>Description:</label>
            <label th:text="${product.getDescription()}"></label>
        </div>
        <div>
            <label>Origin:</label>
            <label th:text="${product.getOrigin()}"></label>
        </div>
        <input type="submit" value="Remove">
    </form>
</div>
<footer th:replace="layout :: footer"></footer>
</body>
</html>