<h1>Hello</h1>

		



<!-- <div class="container">
	<app-process-bar width="65"></app-process-bar>
</div> -->

<!-- <div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-3">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title">Color Picker</h3>
				</div>
				<div class="panel-body">
					<app-calculator></app-calculator>
				</div>
			</div>
		</div>
	</div>
</div> -->

<!-- <div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h3 class="panel-title">Pets</h3>
				</div>
				<div class="panel-body">
					<app-show-pets></app-show-pets>
				</div>
			</div>
		</div>
	</div>
</div> -->







<!-- <div class="container">
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h3 class="panel-title">Component To View</h3>
				</div>
				<div class="panel-body">
					<app-component-to-view></app-component-to-view>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h3 class="panel-title">View To Component</h3>
				</div>
				<div class="panel-body">
					<app-view-to-component></app-view-to-component>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="panel panel-danger">
			<div class="panel-heading">
				<h3 class="panel-title">2 Way Binding</h3>
			</div>
			<div class="panel-body">
				<app-two-way-binding></app-two-way-binding>
			</div>
		</div>
	</div>
</div> -->