<div class="row justify-content-between">
	<h2>Danh sách nhân viên</h2>
	<div class="d-flex">
	<input type="text" class="form-control mr-2" style="width: 400px" placeholder="Tìm kiếm theo tên nhân viên" [(ngModel)]="term">
	<button type="button" class="btn btn-outline-success" style="height: 38px">Search</button>
	</div>
</div>

<div class="row mt-2 px-2">
	<button type="button" class="btn btn-success" [routerLink]="['/employee-add']" >Thêm Mới</button>
	<table class="table table-bordered table-hover mt-2 table-striped" style="font-size: 12px">
		<thead>
			<tr>
				<th>ID</th>
				<th>Họ Và Tên</th>
				<th>Vị Trí</th>
				<th>Trình Độ</th>
				<th>Bộ Phận</th>
				<th>Ngày Sinh</th>
				<th>Số CMND</th>
				<th>Lương</th>
				<th>Email</th>
				<th>SĐT</th>
				<th>Địa Chỉ</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of employees |filter:term | paginate: { itemsPerPage: 10, currentPage: p }; let i = index" style="cursor: pointer;">
				<td>{{ i+1 }}</td>
				<td>{{ item.fullName }}</td>
				<td>{{ item.position }}</td>
				<td>{{ item.academy }}</td>
				<td>{{ item.part }}</td>
				<td>{{ item.birthday }}</td>
				<td>{{ item.id_number }}</td>
				<td>{{ item.salary }}</td>
				<td>{{ item.email }}</td>
				<td>{{ item.phone_number }}</td>
				<td>{{ item.address }}</td>
				<td style="width: 12%">
					<button type="button" class="btn btn-sm btn-warning mr-1" [routerLink]="['/employee-edit/' + item.id]">Sửa</button>
					<button type="button" class="btn btn-sm btn-danger" (click)=openDialog(item.id)>Xóa</button>
				</td>
			</tr>
		</tbody>
	</table>

	<pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>